# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
env/
.venv/
venv/

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Banco de dados
# =========================
*.db
*.sqlite3

# =========================
# Arquivos de exportação
# =========================
*.xlsx
*.csv
*.pdf

# =========================
# Cache do pytest
# =========================
.pytest_cache/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
.env

