fastapi==0.135.2
uvicorn[standard]==0.42.0
psycopg2-binary==2.9.11
python-dotenv==1.2.2
passlib[argon2]==1.7.4
python-jose[cryptography]==3.5.0
slowapi==0.1.9
openpyxl==3.1.5
pandas==2.3.3
streamlit==1.55.0
tqdm==4.67.3
reportlab==4.4.10
email-validator==2.3.0